@model IEnumerable<ProyectoCine.Models.Pelicula>

<div class="container mt-5">
    <h2>Películas Disponibles</h2>
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@movie.NamePelicula</h5>
                        <p>Género: @movie.Genero.TipoGenero</p>
                        <p>Duración: @movie.Duracion min</p>
                        <a href="@Url.Action("Index", "Reservation", new { id = movie.IdPelicula })" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
